$color-background: #ffffff;
$color-font-dark: #262626;
$color-font-light: #ffffff;
$color-dark-grey: #262626;
$color-white: #ffffff;
$color-yellow: #d4d800;

// FONT
$default-font-size: 1.4rem;
$headline-font-size: 3rem;
$small-font-size: 1rem;

$primary-font: "Source Sans Pro";
