$color-dark-grey: #262626;
$color-light-grey: #f9f9f9;
$color-white: #ffffff;
$color-yellow: #d4d800;

// FONT
$default-font-size: 1.6rem;
$headline-font-size: 3.2rem;

$primary-font: "Source Sans Pro";
