.img {
  &-grid {
    margin: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2.5rem;
  }

  &-wrap {
    overflow: hidden;
    width: 22.2rem;
    height: 28rem;
    position: relative;
    border-radius: 0.8rem;

    img {
      min-width: 100%;
      min-height: 100%;
      max-width: 150%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
        transition-duration: 0.5s;
      }
    }
  }
}
