.img {
  &-grid {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
  }
  &-wrap {
    overflow: hidden;
    height: 0;
    padding: 50%;
    position: relative;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);

    img {
      min-width: 100%;
      min-height: 100%;
      max-width: 150%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
      &:hover {
        opacity: 1;
        cursor: pointer;
        transition-duration: 0.5s;
      }
    }
  }
}
