.uploadSection {
  margin-top: 5rem;
  margin-bottom: 5rem;
  &-box {
    display: flex;
    flex-direction: row;
    span {
      display: block;
    }
    &-text {
      color: $color-font-light;
      font-family: $primary-font;
      font-size: 2rem;
      font-weight: 300;
      padding: 2rem 2rem;
      background-color: $color-dark-grey;
      margin-right: 5rem;
      .yellowtext {
        color: $color-yellow;
      }
    }
  }
}

.filter {
  margin-top: 2%;
  cursor: pointer;
  display: flex;
  &-item {
    margin-right: 2rem;
  }
}

.output-text {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  input {
    font-family: $primary-font;
    font-size: 2rem;
    margin: 1rem 1.5rem;
  }
}
