label {
  display: block;
  width: 5rem;
  height: 5rem;
  border: 1px solid black;
  border-radius: 50%;
  margin: auto;
  color: black;
  background-color: $color-yellow;
  font-size: 4rem;
  text-align: center;
  & input {
    height: 0;
    width: 0;
    opacity: 0;
  }
  &:hover {
    background: black;
    color: white;
    cursor: pointer;
  }
}
