.RoundButton {
  display: inline-block;
  border-radius: 4rem;
  padding: 0.5rem 2rem;

  font-weight: 300;
  background-color: $color-dark-grey;
  color: $color-yellow;

  &:hover {
    color: white;
  }
}
