.RoundButton {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 4rem;
  padding: 2rem;
  font-size: 4rem;
  font-weight: 300;
  background-color: $color-dark-grey;
  color: $color-yellow;
}
