.tag {
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: $color-light-grey;
  font-size: 1.6rem;
  color: $color-dark-grey;
  &-wrap {
    display: block;
    text-align: end;
    margin-right: 2.6rem;
    transform: translateY(-4.3rem);
    cursor: pointer;
  }
}
