@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
.RoundTag {
  display: inline-block;
  padding: 0.4rem 2.2rem 0.4rem 2.3rem;
  border-radius: 1.6rem;
  border: solid 1px #262626;
  background-color: #ffffff; }
  .RoundTag:hover {
    color: #50af47;
    border-color: #50af47; }
  .RoundTag-active {
    display: inline-block;
    padding: 0.4rem 2.2rem 0.4rem 2.3rem;
    border-radius: 1.6rem;
    border: solid 1px #50af47;
    background-color: #50af47;
    color: white; }

.Headline {
  display: inline-block; }

.Apptitle {
  font-size: 3.2rem;
  padding: 0.5rem 1.4rem 0.5rem 4rem;
  color: #ffffff;
  margin-right: 2rem;
  background-color: #262626; }

.progress-bar {
  height: 0.5rem;
  background-color: #d4d800;
  border: 1px solid black;
  margin-top: 2rem; }
  .progress-bar-wrap {
    margin: auto;
    width: 80%; }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }
  .backdrop img {
    display: block;
    max-width: 60%;
    max-height: 80%;
    margin: 6rem auto;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
    border: 0.3rem solid white; }

.deleteBtn {
  position: absolute;
  top: 5%;
  right: 2%; }
  .deleteBtn:hover {
    cursor: pointer; }

.editTag {
  position: absolute;
  top: 14%;
  right: 2%; }
  .editTag:hover {
    cursor: pointer; }

.changeTag {
  position: absolute;
  top: 25%;
  right: 2%; }
  .changeTag input {
    text-align: center;
    font-size: 2rem;
    max-width: 15rem; }
  .changeTag-btn {
    padding-top: 1rem;
    text-align: right; }

@media screen and (max-width: 458px) {
  .deleteBtn,
  .editTag {
    display: block;
    position: relative;
    left: 50%; } }

.tag {
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: #f9f9f9;
  font-size: 1.6rem;
  color: #262626; }
  .tag-wrap {
    display: block;
    text-align: end;
    margin-right: 2.6rem;
    transform: translateY(-4.3rem);
    cursor: pointer; }

.yellow-btn {
  display: inline-block;
  margin-top: 1.5rem;
  background-color: #d4d800;
  font-weight: 400;
  padding: 1rem 2.5rem;
  border-radius: 0.8rem; }
  .yellow-btn:hover {
    cursor: pointer;
    background-color: black;
    color: #ffffff; }

.App-wrapper {
  margin: auto;
  max-width: 1024px;
  background-color: #ffffff; }

.topSection {
  display: flex;
  background-color: #f9f9f9;
  padding: 8.4rem 0 3.5rem;
  justify-content: space-between; }
  .topSection p {
    margin-right: 3.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    align-self: flex-end;
    color: #262626; }

.uploadSection {
  display: flex;
  margin: 0 3.2rem 2.5rem 3.2rem;
  padding-top: 3.5rem;
  justify-content: space-between; }

.addPhoto label input {
  display: none; }

.addPhoto-Btn {
  transform: translateY(0.3rem); }
  .addPhoto-Btn path {
    fill: #262626;
    fill-rule: "nonzero"; }
  .addPhoto-Btn g {
    fill: #d4d800; }
    .addPhoto-Btn g:hover {
      cursor: pointer;
      fill: black;
      color: #ffffff; }
      .addPhoto-Btn g:hover text {
        fill: white; }
      .addPhoto-Btn g:hover path {
        fill: white; }
  .addPhoto-Btn text {
    fill: black; }

.filter {
  cursor: pointer;
  display: flex; }
  .filter-wrap {
    display: flex; }
  .filter-item {
    margin-right: 2rem; }

.x {
  font-size: 2rem; }
  .x:hover {
    cursor: pointer; }

.output {
  display: flex;
  align-items: flex-end; }
  .output-text {
    font-size: 1.8rem; }
  .output input {
    display: block;
    font-family: "Source Sans Pro";
    font-size: 1.8rem;
    margin-top: 1.3rem;
    background-color: #cecece;
    border: 0;
    padding: 0.6rem 8rem 0.7rem 1.3rem; }

.progressBar {
  display: block; }

@media screen and (max-width: 500px) {
  .uploadSection {
    display: block; }
  .addPhoto {
    margin-top: 1rem; } }

.img-grid {
  margin: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2.5rem; }

.img-wrap {
  width: 22.2rem;
  height: 28rem;
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden; }
  .img-wrap img {
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
    max-height: 28rem;
    top: 0;
    left: 0;
    opacity: 1; }
    .img-wrap img:hover {
      opacity: 0.5;
      cursor: pointer;
      transition-duration: 0.5s; }

@media screen and (max-width: 900px) {
  .img-grid {
    grid-template-columns: 1fr 1fr 1fr; } }

@media screen and (max-width: 740px) {
  .img-grid {
    grid-template-columns: 1fr 1fr; } }

@media screen and (max-width: 500px) {
  .img-grid {
    grid-template-columns: 1fr; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: "Source Sans Pro";
  background-color: #f9f9f9;
  font-size: 62.5%;
  height: 100vh;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* IE and Edge */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */ }

html::-webkit-scrollbar {
  display: none; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body a:link {
    text-decoration: none; }
  body a:visited {
    text-decoration: none; }
  body a:hover {
    text-decoration: underline; }
  body a:active {
    text-decoration: underline; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #262626; }

h1 {
  font-weight: 400;
  font-size: 3.2rem; }
